:root {
  --font-size-xxxxl: 4rem;
  --font-size-xxxl: 3rem;
  --font-size-xxl: 2.5rem;
  --font-size-xl: 2rem;
  --font-size-lg: 1.5rem;
  --font-size-md: 1.25rem;
  --font-size-sm: 1rem;
  --font-size-xs: 0.9rem;
  --font-size-xxs: 0.8rem;
  --font-size-xxxs: 0.7rem;

  --font-calc-body-1: min(calc(var(--font-size-sm) + 1vw), var(--font-size-lg));

  --font-calc-heading-1: min(
    calc(var(--font-size-lg) + 3vw),
    var(--font-size-xxxxl)
  );

  --font-calc-heading-2: min(
    calc(var(--font-size-lg) + 2vw),
    var(--font-size-xxl)
  );
}

body {
  font-size: var(--font-size-md);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading, var(--font-family));
}

h1 {
  text-wrap: balance;
}

h2,
h3,
h4,
h5,
h6 {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;

  @media (min-width: 360px) {
    hyphens: none;
  }
}

h2 {
  font-size: var(--font-size-xxxl);
}

h3 {
  font-size: var(--font-size-xl);
}

h4,
h5,
h6 {
  font-size: var(--font-size-md);
}

p {
  text-wrap: pretty;
}

blockquote {
  p {
    font-size: larger;
  }
}

:where(.bard-content) {
  width: 100%;
  margin-inline: auto;

  .statamic-icon svg {
    width: var(--font-size-xxl);
    height: var(--font-size-xxl);
    margin-block-end: 1rem;
  }

  figure {
    border-radius: var(--radius-sm);
  }

  p,
  ul,
  ol {
    margin-block-start: 1.5em;

    &:first-of-type {
      margin-block-start: 0;
    }

    > a {
      &:hover {
        color: var(--color-accent-text);
      }
    }

    &:has(+ h2),
    &:has(+ div > h2) {
      margin-block-end: 4rem;
    }
    &:has(+ h3),
    &:has(+ div > h3) {
      margin-block-end: 3rem;
    }
    &:has(+ h4),
    &:has(+ div > h4) {
      margin-block-end: 2rem;
    }
    &:has(+ h5) {
      margin-block-end: 1.5rem;
    }
    &:has(+ h6) {
      margin-block-end: 1rem;
    }
  }

  ul > li::marker {
    color: var(--color-accent-graphic);
  }
}
