:root {
  --app-max-width: 1280px;
  --app-header-height: 4rem;

  --font-size-xxxxl: 4rem;
  --font-size-xxxl: 3.5rem;
  --font-size-xxl: 3rem;
  --font-size-xl: 2rem;
  --font-size-lg: 1.5rem;
  --font-size-md: 1.25rem;
  --font-size-sm: 1rem;
  --font-size-xs: 0.9rem;
  --font-size-xxs: 0.8rem;
  --font-size-xxxs: 0.7rem;

  @media (min-width: 480px) {
    --app-padding-inline: 2rem;
  }
}

body {
  font-size: var(--font-size-md);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading, var(--font-family));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 1rem;

  @media (min-width: 360px) {
    hyphens: none;
  }
}

h2 {
  font-size: var(--font-size-xxl);
}

h3 {
  font-size: var(--font-size-xl);
}

h4,
h5,
h6 {
  font-size: var(--font-size-md);
}

a {
  text-underline-offset: 0.35em;
}

blockquote {
  p {
    font-size: larger;
  }
}
